.todo__main__section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.todo__main__image {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 50vh;
    background: rgb(20, 0, 36);
    background: linear-gradient(to right, rgba(36, 38, 140, 1) 1%, rgba(110, 59, 154, 1) 100%, rgba(77, 36, 107, 1) 100%);
    object-fit: cover;
    position: relative;
}

.todo__alt__image {
    width: 100%;
    height: 50vh;
    background: rgb(23, 23, 35);
}

.todo__main__form {
    display: flex;
    height: 5em;
    width: 35em;
}

.todo__main__input {
    border: none;
    color: rgb(151, 153, 195);
    background-color: rgb(36, 39, 61);
    width: 24.8em;
    border-radius: 0.25em;
    height: 4em;
    font-size: 1em;
    padding-left: 1em;
    outline: none;
    margin-bottom: 0.5em;
}

.todo__form__container {
    padding: 1em;
    width: 25em;
}

.todo__main__header {
    text-align: left;
    color: #fefefe;
    width: 18em;
    margin-top: 0;
}

.todo__add__button {
    height: 2.7em;
    width: 3.2em;
    position: relative;
    right: 3.17em;
    border: none;
    border-radius: 0.25em;
    background-color: rgb(36, 39, 61);
    color: rgb(98, 100, 133);
    cursor: pointer;
    font-size: 1.5em;
}

.todo__add__button:hover {
    -webkit-transform: scale(1);
    transform: scale(1);
    transition-duration: 1s;
    transition-delay: 0.2s;
    color: rgb(106, 58, 153);
}

.todo__tasks__container {
    padding: 1em;
    width: 25em;
}

.todo__card {
    border: none;
    color: rgb(151, 153, 195);
    background-color: rgb(36, 39, 61);
    width: 26em;
    height: 4em;
    font-size: 1em;
    outline: none;
    margin-bottom: 0.5em;
    border-radius: 0.25em;
    line-height: 3.8em;
}

.todo__radio__btn {
    appearance: none;
    border: 0.5em solid rgb(151, 153, 195);
    border-radius: 50%;
    background-color: transparent;
    position: relative;
    left: 27.5em;
}

.todo__radio__btn:checked::before {
    content: "";
    display: block;
    width: 1em;
    height: 1em;
    background-color: rgb(106, 58, 153);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transition-duration: 1s;
    transition-duration: none;
}

.todo__radio__btn::after {
    content: "";
    display: block;
    position: absolute;
    transition: all 0.8s;
}

.todo__card_paragraph {
    color: rgb(151, 153, 195);
    margin-bottom: 0;
    text-align: center;
}

.todo__delete_btn {
    background: none;
    border: none;
    cursor: pointer;
    display: block;
    position: relative;
    bottom: 4em;
    left: 31em;
    width: 4em;
    height: 4em;
}

.todo__delete_btn:hover {
    transition: transform 300ms ease-in-out;
    transition-duration: 1s;
    transition-delay: 0.2s;
    color: rgb(36, 39, 61);
}

.todo__page_btn {
    background: none;
    border: none;
    color: rgb(108, 58, 154);
    cursor: pointer;
    font-size: 1.3em;
}

.todo__cursor_page {
    cursor: pointer;
    background: none;
    border: none;
}

.page__btn_changer {
    background: none;
    border: none;
    cursor: pointer;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    filter: blur(0);
    transition: filter 1s ease-in-out;
}

.page__btn_changer:hover {
    transform: scale(1.05);
    text-decoration: underline;
    text-decoration-color: rgb(108, 58, 154);
    text-decoration-thickness: 0.10rem;
}

.todo__paginator {
    text-align: center;
    width: 26em;
    height: 2em;
    position: fixed;
    top: 40rem;
}