.top__navbar__left {
  padding: 0.5em;
  display: inline-block;
  display: flex;
  padding-left: 2rem;
  justify-content: space-between;
  background-color: rgb(32, 33, 36);
}

.top__navbar__right a {
  text-decoration: none;
  color: rgb(91, 92, 118);
  font-size: 1.5em;
  padding: 0 1em;
}

.top__navbar__home {
  text-decoration: none;
  color: rgb(91, 92, 118);
  font-size: 1.5em;
  align-items: center;
}

.top__navbar__add:hover {
  text-decoration: underline;
  text-decoration-color: rgb(71, 48, 147);
  text-decoration-thickness: 0.10rem;
  transition: cubic-bezier(0.075, 0.82, 1, 1);
}

.top__navbar__user {
  display: inline-block;
  font-size: 1.5em;
  margin: 0;
  padding-right: 1rem;
  color: rgb(91, 92, 118);
}

.top__navbar__logout_btn {
  border: none;
  background: none;
  display: inline-block;
  font-size: 1.5em;
  cursor: pointer;
  padding-right: 2rem;
  color: rgb(91, 92, 118);
}

.top__navbar__logout_btn:hover {
  text-decoration: underline;
  text-decoration-color: rgb(71, 48, 147);
  text-decoration-thickness: 0.10rem;
  transition: cubic-bezier(1, 0.82, 1, 1);
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.loading__spinner {
  width: 50px;
  height: 50px;
  border: 10px solid #f3f3f3;
  border-top: 10px solid #383636;
  border-radius: 50%;
  animation: spinner 1.5s linear infinite;
}

.loading__spinner__container {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 350px;
}

.page_footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  margin-top: auto;
  text-align: center;
  background-color: rgb(32, 33, 36);
  color: rgb(91, 92, 118);
}

.footer__github_link {
  margin-top: 0.5rem;
  color: rgb(111, 112, 144);
  filter: blur(0);
  transition: filter 1s ease-in-out;
}

.footer__github_link:hover {
  transform: scale(1.05);
  color: rgb(151, 153, 195);
}