.top__navbar__left {
  padding: 0.5em;
  display: inline-block;
  display: flex;
  justify-content: space-between;
  background: rgb(44,45,56);
  background: linear-gradient(90deg, rgba(44,45,56,1) 32%, rgba(45,45,46,1) 100%);
}

.top__navbar__right a {
  text-decoration: none;
  color: #000;
  font-size: 1.5em;
  padding: 0 1em;
}

.top__navbar__home {
  text-decoration: none;
  color: #000;
  font-size: 1.5em;
  align-items: center;
}

.top__navbar__user {
  display: inline-block;
  font-size: 1.5em;
  margin: 0;
  padding-right: 1em;
}

.top__navbar__logout_btn {
  border: none;
  background: none;
  display: inline-block;
  font-size: 1.5em;
  cursor: pointer;
}

@keyframes spinner {
  0% {
      transform: rotate(0deg);
  }

  100% {
      transform: rotate(360deg);
  }
}

.loading__spinner {
  width: 50px;
  height: 50px;
  border: 10px solid #f3f3f3;
  border-top: 10px solid #383636;
  border-radius: 50%;
  animation: spinner 1.5s linear infinite;
}

.loading__spinner__container {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 350px;
}

.page_footer {
  padding: 1em;
  margin-top: auto;
  text-align: center;
  background: linear-gradient(90deg, rgba(44,45,56,1) 32%, rgba(45,45,46,1) 100%);
}